
@import url("https://fonts.googleapis.com/css?family=Tangerine&font-effect-fire");
@import url("https://fonts.googleapis.com/css?family=Old Standard TT");


@font-face {
    font-family: 'Tangerine';
    src: url('http://fonts.googleapis.com/css?family=Tangerine'), url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
}

@font-face {
    font-family: 'Old Standard TT';
    src: url('http://fonts.googleapis.com/css?family=Old Standard TT'), url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
}

@font-face { 
    font-family: bleeding_cowboy; 
    src: url('../bleeding_cowboys.ttf'); 
}

@font-face { 
    font-family: butchsundance; 
    src: url('../butchsundance.ttf'); 
}

body {
    font-family: 'Old Standard TT', serif;
    background-color: #282828; 
}

.caption {
    height: 80px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

footer {
    color: white;
    margin: 0;
}

.page-header h2 {
    font-family: 'Tangerine', serif;
    color:#A89070;
    font-size: 300%;
    font-weight: medium;
    margin: 0px;
    padding-bottom: 0px;
    /* text-shadow: 2px 2px 2px goldenrod; #566D7E; */
}

.page-header, available {
    padding-bottom: 0px;
}

.page-header {
    padding-bottom: 0px;
}

.panel-body { /* .panel-body within jumbotron */
    padding: 0px;
    margin: 0px;
}

/* JUMBOTRON */

.jumbotron {
    background-color: #282828;/* #3f362a;  #566D7E */
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.jumbotron p {
    color: #EDE1D1;
    text-indent:1em;  /* this is only temporary. google typography */
    text-align:justify;
}

.jumbotron h2 {
    font-family: 'Old Standard TT', 'Tangerine', serif;
    color: brown;
}

.page-header, 
#header-contact {
    padding-bottom: 20px;
    color: white;
}

.slide-image {
    width: 100%;
}

.thumbnail {
    padding: 0;
    border-color: wheat;
    border-radius: 0px;
    background-color: #44484d;
}

.thumbnail a, h4 {
    color: #EDE1D1;
}
.thumbnail a  {
    color: #EDE1D1;
    font-family: 'Tangerine';
    font-size: 150%;
}

.thumbnail 
.caption-full {
    padding: 9px;
    color: #333;
}

.thumbnail 
img {
    width: 100%;
}
